<html>
<head>
  <title>TODO LIST APP</title>
</head>
<body>
<ul id="tasks">
</ul>

<form>
  <input placeholder="what do you want to get done?" id="new-task"></input>
  <button>Add</button>
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script type="text/javascript" src="/application.js"></script>

</body>
</html>
