<html>
<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
</head>
<body>
  <div id="autocomplete"></div>

  <script type="text/javascript">
    $autocomplete = $("#autocomplete").attr("placeholder","Search");
    $input = $("<input>").appendTo($autocomplete);
    $list = $("<div>").addClass("cities").appendTo($autocomplete);

    $input.on("keyup", function(e) {
      var query = $input.val();

      if(query.length > 0) {
        $.ajax({
          method: "GET",
          url: "/cities",
          data: {query: query}
        }).done(function(response) {
          $list.empty();
          response.forEach(function(city) {
            $("<div>").addClass("city").text(city).appendTo($list);
          });
        });
      }
    });

  </script>
</body>
</html>
